<div class="row">
  <div *ngIf="insertable == 1" class="col-sm-{{12/maxLine}} add-new item">
    <div class="card" [ngClass]="cardType" routerLink="/create">
      <div class="card-block">
        <div class="text-center text-muted mb-2">
          <i class="glyphicons glyphicons-plus-sign x2"></i>
        </div>
        <h6 class="text-muted text-center">Add a new shop</h6>
      </div>
    </div>
  </div>
  <div *ngFor="let item of items" class="col-sm-{{12/maxLine}} item">
    <div class="card" [ngClass]="cardType" [routerLink]="['/shop', item.id]">
      <img class="img-fluid" [src]="item.logo"/>
      <div class="card-block">
        <h5>{{item.name}}</h5>
        <p class="text-muted">{{item.address}}<br>{{item.zipcode}} {{item.city}}</p>
      </div>
    </div>
  </div>
</div>
