.header {
  display: inline-block;
  width: 100%;
}
.header-line {
  display: inline-flex;
  width: 100%;
  -webkit-align-items: center;
  align-items: center;
  > span {
    white-space: nowrap;
  }
  > .divider {
    width: 100%;
    height: 1px;
    background-color: #bbb;
  }
}
.search-box {
  i {
    position: absolute;
    top: 9px;
    right: 9px;
    color: #aaa;
    z-index: 100;
    font-size: 16px;

    &.close-search {
      cursor: pointer;
    }
  }
}
