.editable-layout {
  display: inline-block;
  position: relative;

  a.last-add-btn {
    position: absolute;
    right: -25px;
    top: 0;
    width: 20px;
    background-color: #ddd;
    color: white;
    bottom: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
}
.template {
  display: inline-block;
  .cells {
    .cell {
      &.small {
        width: 80px;
        height: 80px;
        border: 2px solid #000;
      }
      &.large {
        width: -webkit-calc(50vh - 170px);
        width: calc(50vh - 170px);
        height: -webkit-calc(50vh - 170px);
        height: calc(50vh - 170px);
        border: 3px solid #000;
      }
      &.clickable {
        cursor: pointer;
      }
      padding: 0;
      z-index: 1;
      position: relative;
      .panel {
        border-bottom: 1px solid #000;
        &:last-child {
          border-bottom: 0;
        }
        .area {
          border-right: 1px solid #000;
          position: relative;
          &.clickable {
            cursor: pointer;
          }
          &:last-child {
            border-right: 0;
          }
          .colored-bottom {
            position: absolute;
            height: 10px;
            width: 100%;
            bottom: 0;
            z-index: 1;
          }
          .product {
            display: -webkit-inline-flex;
            display: inline-flex;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-align-items: center;
            align-items: center;
            height: 100%;
            width: 100%;
            overflow: hidden;
            position: relative;
            img {
              position: absolute;
              &.horizontal {
                width: 100%;
              }
              &.vertical {
                height: 100%;
              }
            }
          }
        }
      }

      table.cell-chart {
        left: 5px;
        top: 5px;
        position: absolute;
      }
    }
  }
}
