// Here you can add other styles

@font-face {
  font-family: 'FranklinGothicDemiCondRegular';
  src: url('../assets/fonts/FranklinGothicDemiCondRegular.ttf');
  src: url('../assets/fonts/FranklinGothicDemiCondRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

input.ng-invalid.ng-touched {
    border: 1px solid orangered;
}

.thin-word-1 {
    font-weight: 300;
}

.thin-word-2 {
    font-weight: 400;
}

.fade.in {
  opacity: 1;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop.in {
  opacity: 0.5;
}

header.navbar {
  z-index: 2;
}

table.cell-chart {
  border-collapse: initial;

  td {
    background-color: #aaa;

    &.selected {
      background-color: darkblue;
    }

    &.small {
      width: 6px;
      min-width: 6px;
      height: 6px;
    }

    &.large {
      width: 60px;
      height: 60px;
    }

    &.clickable {
      cursor: pointer;
    }
  }
}

.custom-title {
  font-family: FranklinGothicDemiCondRegular;
  color: #e08d39;
  text-transform: uppercase;
  font-size: 43px;
}
